h1 {
  text-align: center;
}
h2 {
  text-align: center;
img {
 margin-right: 15%;
 margin-left: 15%;
}
body {
 font-family: Times New Roman;
 font-size: 25px;
}

footer{
 font-family: aria;
 font-size: 22px;
}
grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: #ffffff;
  padding: 10%;
}
grid-item {
  background-color: rgba(200, 150, 200, 0.8);
  border: 5% solid rgba(0, 0, 0, 0.8);
  padding: 10%;
  font-size: 30%;
  text-align: center;
}
